@import "layout/reset";
@import "layout/header";
@import "include/block";
@import "include/description";
@import "include/info";
@import "include/levels";
@import "include/trial-lesson";
@import "include/swiper";
@import "include/statistics";
@import "include/reviews";
@import "layout/footer";
